.h1 {
	font-size: 9px;
        color: #003399;
	font-family: Verdana, Geneva, sans-serif;
        text-align: center;
}
.h2{
    font-size: 9px;
    color:#003399;
    font-family: Verdana, Geneva, sans-serif;
}
.container .content p {
	text-align: left;
}
